<div>
  <div class="content-event-detail">
<table>
  <tr>
    <td class="name-property">The name of the event:</td>
    <td> {{eventDetail.title}} </td>
  </tr>
  <tr>
    <td class="name-property">Date of the event:</td>
    <td> {{eventDetail.date}}</td>

  </tr>
  <tr>
    <td class="name-property">Type of event:</td>
    <td> {{eventDetail.eventType}}</td>

  </tr>
  <tr>
    <td class="name-property">Phone number:</td>
    <td> {{eventDetail.telephoneNumber}}</td>

  </tr>
  <tr>
    <td class="name-property">E-mail adress:</td>
    <td> {{eventDetail.email}}</td>

  </tr>
  <tr>
    <td class="name-property">Place of the event:</td>
    <td> {{eventDetail.place}}</td>

  </tr>
  <tr>
    <td class="name-property">Description of the event:</td>
    <td> {{eventDetail.description}}</td>

  </tr>
</table>
    </div>
</div>
