<div>
<div class='title-container'>
  <div class='title center'>
   Hello
  </div>
  <div class='subtitle'>
    You are currently using the application to manage your time
  </div>
</div>

<div class='buttons'>
<button class='space-between' mat-raised-button color='primary' (click)='goToCalendar()'>Go to your calendar
  <mat-icon matTooltip='Check calendar'>date_range</mat-icon>
</button>

<button class='space-between' mat-raised-button color='primary' (click)='addNewEvent()'>Add new event
  <mat-icon matTooltip='Check calendar'>add</mat-icon>
</button>
</div>
</div>
